.square {
  height: 100px;
  width: 100px;
  background: linear-gradient(pink, blue);
}

@keyframes dittotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate {
  animation: dittotate 5s infinite linear;
}
